@model Livro
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Titulo">Título</label>
            <input asp-for="Titulo" class="form-control" required />
            <span class="text-danger" data-valmsg-for="Titulo" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label asp-for="Autor">Autor</label>
            <input asp-for="Autor" class="form-control" required />
            <span class="text-danger" data-valmsg-for="Autor" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label asp-for="Ano">Ano</label>
            <input asp-for="Ano" class="form-control" required />
            <span class="text-danger" data-valmsg-for="Ano" data-valmsg-replace="true"></span>
        </div>

        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>
