@model Biblioteca.Models.Usuario

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataNascimento" class="control-label"></label>
        <input asp-for="DataNascimento" class="form-control" />
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Senha" class="control-label"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
