@model List<Usuario>
@{
    ViewData["Title"] = "Listagem de Usuarios";
}
<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Autor">Autor</option>
                    <option value="Titulo">Título</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Any())

        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Usuario u in Model)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.Nome</td>
                            <td>@u.Login</td>
                            <td>
                                <a href="/Usuario/Edicao/@u.Id">Editar</a>
                                <form asp-action="Excluir" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@u.Id" />
                                    <input type="submit" value="Excluir" class="btn btn-danger"
                                        onclick="return confirm('Tem certeza que deseja excluir este usuário?');" />
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }

        else

        {
            <p>Nenhum registro encontrado</p>
        }
    </div>
</div>